In [1]:
import os
import pandas as pd
import csv

In [4]:
originals = pd.read_csv("original_code_benchmark_large.csv")
tests = pd.read_csv("test_code_benchmark_large.csv")

In [6]:
originals.head()

,base_code_id,language,task,domain,subdomain,code
0,z4tt,python,100 doors,Game Development,Puzzles,doors = [False] * 100\nfor i in range(100):\n ...
1,vu129,python,100 prisoners,Game Development,Puzzles,import random\n\ndef play_random(n):\n \n ...
2,clr9q,python,15 puzzle game,Game Development,Puzzles,''' Structural Game for 15 - Puzzle with diffe...
3,inmof,python,2048,Game Development,Puzzles,"import curses\nfrom random import randrange, c..."
4,s0lq9,python,21 game,Game Development,Card Games,from random import randint\ndef start():\n\tga...

In [ ]:
domains = originals['domain'].unique()
subdomains = originals['subdomain'].unique()

In [ ]:
tests.head()

,clone_code_id,base_code_id,task,clone_language,clone_type,clone_sub_type,code
0,z4tt_1_1,z4tt,100 doors,python,T1,Identical Clone,doors = [False] * 100\nfor i in range(100):\n ...
1,z4tt_1_2,z4tt,100 doors,python,T1,Different Whitespaces,doors=[False]*100\nfor i in range(100):\n for ...
2,z4tt_1_3,z4tt,100 doors,python,T1,Different Comments,doors = [False] * 100\nfor i in range(100):\n ...
3,z4tt_1_4,z4tt,100 doors,python,T1,Different Formatting,doors = [False] * 100\nfor i in range(100):\n ...
4,z4tt_2_1,z4tt,100 doors,python,T2,Different Variable Names,entrances = [False] * 100\nfor index in range(...

In [19]:
# Sample DataFrame
df = pd.DataFrame({

    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})

# New column to add
new_feature = [10, 11, 12]

# Insert the new column at a specific position (e.g., position 1)
df.insert(1, 'New_Column', None)

print(df)

   A New_Column  B  C
0  1       None  4  7
1  2       None  5  8
2  3       None  6  9

In [20]:
tests.insert(3, 'domain', None)
tests.head()

,clone_code_id,base_code_id,task,domain,clone_language,clone_type,clone_sub_type,code
0,z4tt_1_1,z4tt,100 doors,None,python,T1,Identical Clone,doors = [False] * 100\nfor i in range(100):\n ...
1,z4tt_1_2,z4tt,100 doors,None,python,T1,Different Whitespaces,doors=[False]*100\nfor i in range(100):\n for ...
2,z4tt_1_3,z4tt,100 doors,None,python,T1,Different Comments,doors = [False] * 100\nfor i in range(100):\n ...
3,z4tt_1_4,z4tt,100 doors,None,python,T1,Different Formatting,doors = [False] * 100\nfor i in range(100):\n ...
4,z4tt_2_1,z4tt,100 doors,None,python,T2,Different Variable Names,entrances = [False] * 100\nfor index in range(...

In [21]:
tests.insert(4, 'subdomain', None)
tests.head()

,clone_code_id,base_code_id,task,domain,subdomain,clone_language,clone_type,clone_sub_type,code
0,z4tt_1_1,z4tt,100 doors,None,None,python,T1,Identical Clone,doors = [False] * 100\nfor i in range(100):\n ...
1,z4tt_1_2,z4tt,100 doors,None,None,python,T1,Different Whitespaces,doors=[False]*100\nfor i in range(100):\n for ...
2,z4tt_1_3,z4tt,100 doors,None,None,python,T1,Different Comments,doors = [False] * 100\nfor i in range(100):\n ...
3,z4tt_1_4,z4tt,100 doors,None,None,python,T1,Different Formatting,doors = [False] * 100\nfor i in range(100):\n ...
4,z4tt_2_1,z4tt,100 doors,None,None,python,T2,Different Variable Names,entrances = [False] * 100\nfor index in range(...

In [24]:
# Create a dictionary mapping each 'task' to its 'domain' and 'subdomain'
task_to_domains = {row['task']: (row['domain'], row['subdomain']) for _, row in originals.iterrows()}
task_to_domains

{'100 doors': ('Game Development', 'Puzzles'),
 '100 prisoners': ('Game Development', 'Puzzles'),
 '15 puzzle game': ('Game Development', 'Puzzles'),
 '2048': ('Game Development', 'Puzzles'),
 '21 game': ('Game Development', 'Card Games'),
 '24 game': ('Game Development', 'Puzzles'),
 '24 game/Solve': ('Game Development', 'Puzzles'),
 '4-rings or 4-squares puzzle': ('Game Development', 'Puzzles'),
 '9 billion names of God the integer': ('Mathematics', 'Number Theory'),
 'A+B': ('Mathematics', 'Arithmetic'),
 'ABC problem': ('Mathematics', 'Number Theory'),
 'AKS test for primes': ('Mathematics', 'Number Theory'),
 'ASCII art diagram converter': ('Programming Concepts', 'Text Processing'),
 'Abbreviations, automatic': ('Programming Concepts', 'Text Processing'),
 'Abbreviations, easy': ('Programming Concepts', 'Text Processing'),
 'Abbreviations, simple': ('Programming Concepts', 'Text Processing'),
 'Abelian sandpile model': ('Mathematics', 'Automata'),
 'Abelian sandpile model/Identity': ('Mathematics', 'Automata'),
 'Abstract type': ('Programming Concepts', 'Data Structures'),
 'Abundant odd numbers': ('Mathematics', 'Number Theory'),
 'Abundant, deficient and perfect number classifications': ('Mathematics',
  'Number Theory'),
 'Accumulator factory': ('Programming Concepts', 'Functional Programming'),
 'Ackermann function': ('Mathematics', 'Algorithms'),
 'Active Directory/Connect': ('Networking', 'Directory Services'),
 'Active Directory/Search for a user': ('Networking', 'Directory Services'),
 'Active object': ('Programming Concepts', 'Concurrency'),
 'Add a variable to a class instance at runtime': ('Programming Concepts',
  'Object-Oriented Programming'),
 'Additive primes': ('Mathematics', 'Number Theory'),
 'Address of a variable': ('Programming Concepts', 'Memory Management'),
 'Algebraic data types': ('Programming Concepts', 'Data Structures'),
 'Align columns': ('Programming Concepts', 'Text Processing'),
 'Aliquot sequence classifications': ('Mathematics', 'Number Theory'),
 'Almkvist-Giullera formula for pi': ('Mathematics', 'Numerical Methods'),
 'Almost prime': ('Mathematics', 'Number Theory'),
 'Amb': ('Programming Concepts', 'Functional Programming'),
 'Amicable pairs': ('Mathematics', 'Number Theory'),
 'Anagrams': ('Programming Concepts', 'String Operations'),
 'Anagrams/Deranged anagrams': ('Programming Concepts', 'String Operations'),
 'Angle difference between two bearings': ('Mathematics', 'Geometry'),
 'Angles (geometric), normalization and conversion': ('Mathematics',
  'Geometry'),
 'Animate a pendulum': ('Game Development', 'Physics Simulations'),
 'Animation': ('Game Development', 'Graphics'),
 'Anonymous recursion': ('Programming Concepts', 'Recursion'),
 'Anti-primes': ('Mathematics', 'Number Theory'),
 'Append a record to the end of a text file': ('Utilities & Scripts',
  'File Operations'),
 'Apply a callback to an array': ('Programming Concepts', 'Functions'),
 'Apply a digital filter (direct form II transposed)': ('Mathematics',
  'Signal Processing'),
 'Approximate equality': ('Mathematics', 'Numerical Methods'),
 'Arbitrary-precision integers (included)': ('Mathematics', 'Arithmetic'),
 'Archimedean spiral': ('Mathematics', 'Geometry')}

In [25]:
tests[['domain', 'subdomain']] = tests['task'].apply(
    lambda x: pd.Series(task_to_domains.get(x, (None, None)))
)

In [26]:
tests.head()

,clone_code_id,base_code_id,task,domain,subdomain,clone_language,clone_type,clone_sub_type,code
0,z4tt_1_1,z4tt,100 doors,Game Development,Puzzles,python,T1,Identical Clone,doors = [False] * 100\nfor i in range(100):\n ...
1,z4tt_1_2,z4tt,100 doors,Game Development,Puzzles,python,T1,Different Whitespaces,doors=[False]*100\nfor i in range(100):\n for ...
2,z4tt_1_3,z4tt,100 doors,Game Development,Puzzles,python,T1,Different Comments,doors = [False] * 100\nfor i in range(100):\n ...
3,z4tt_1_4,z4tt,100 doors,Game Development,Puzzles,python,T1,Different Formatting,doors = [False] * 100\nfor i in range(100):\n ...
4,z4tt_2_1,z4tt,100 doors,Game Development,Puzzles,python,T2,Different Variable Names,entrances = [False] * 100\nfor index in range(...

In [ ]:
# Save the results to a CSV file in the 'datasets' directory
csv_file_path = os.path.join(os.getcwd(), 'test_code_benchmark_large.csv')
tests.to_csv(csv_file_path, index=False)